<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picopy Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/javascripts/gallery.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="gallery-body">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Picopy</a>
    </div>
    <ul class="nav navbar-nav">
        <li clss="nav-item">
            <a></a>
          </li>
      <li class="nav-item nav-link">
          <select name="" id="view-photos-by" class="form-control" style="">
              <option value="all-photos">All Photos</option>
              <%- user == null ? "" : '<option value="my-photos" id="my-photos-select">My Public Photos</option>' %>
              <option value="photos-by-user" id="photos-by-user-select">Photos By User</option>
              <option value="photos-by-filter">Photos By Filter</option>
            </select>
      </li>
      <li clss="nav-item">
          <a></a>
        </li>
      <li class="nav-item nav-link">
          <select name="" id="sort-photos-by" class="form-control" style="">
              <option value="sort-new">Newest</option>
              <option value="sort-old">Oldest</option>
            </select>
      </li>
      <li clss="nav-item">
          <a></a>
        </li>
      <li class="nav-item">
        <!-- NEED TO DISABLE THIS IF NOT LOGGED IN -->
        <%- user == null ? '<a class="nav-link">Log in to view private photos</a>' : '<a class="nav-link" id="viewPrivateToggle" onclick="viewPrivate()">My Private Photos</a>' %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="color:white">
      <li><a><span class="glyphicon glyphicon-user"style="margin-right:10px;"></span><%- user == null ? '' : 'Logged in as ' + user.username %></a></li>
    </ul>
  </div>
</nav>
    <body style="background-color:black; margin: 0 !important; padding-top:50px;">
      <!-- NEED TO HANDLE IF THE USERNAME IS NOT FOUND IN THE GALLERY -->
      <div class="modal fade" id="getUserModal" tabindex="-1" role="dialog" aria-labelledby="getUserModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="getUserModalLongTitle">Enter a username</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="usernameForm" placeholder="Enter username">
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="sortByUser()">View User's Photos</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="getFilterModal" tabindex="-1" role="dialog" aria-labelledby="getFilterModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">2
                  <div class="modal-header">
                    <!-- CAN WE CENTER THIS? -->
                    <h5 class="modal-title" id="getFilterModalLongTitle">Choose a filter to sort by</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-group container text-center">
                          <%
                          //Will only display filters that currently exist in the gallery.
                          var used_filters = ["Any", "No filter"];
                          //Loop through each photo passed in
                          for(var i = 0; i < photo_count[0].count; i++)
                          {
                            //Combine them all into one array
                            var currFilt = photo_data[i].filters.split(" ");
                            used_filters = used_filters.concat(currFilt);
                          }
                          //Filter out the duplicates and the empty strings
                          used_filters = used_filters.filter((value, index) => used_filters.indexOf(value) === index);
                          used_filters = used_filters.filter(Boolean);

                          var options = '';
                          //Create a bunch of options for the dropdown
                          for(var i = 0; i < used_filters.length; i++){
                            options += '<option value="'+used_filters[i]+'">'+used_filters[i]+'</option>'
                          }
                          %>
                          
                          <select name="" id="filter-select" class="form-control" style="width: 200px;">
                              <%- options %>
                            </select>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="sortByFilter()">View Photos With Filter</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="delay-notif">
              <p>If you have just uploaded, it may take a minute for your photo to appear in the gallery.</p>
              <p>Refresh if you don't see it.</p>
            </div>

    <div onclick="loadPhotos();" id="gallery-photos">
      <!--  -->
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0">
      </script>
      <div style="display:none" id="count-obj"><%- photo_count[0].count %></div>
      <div style="display:none" id="photo-obj"><%- JSON.stringify(photo_data) %></div>
      <script>
        var prePhotos = JSON.parse(document.getElementById("photo-obj").innerHTML);
        var publicPhotos = [];
        var privatePhotos = [];
        var viewingPrivate = false;
        //Seperate the public and private photos
        for(var i = 0; i < prePhotos.length; i++){
          if(prePhotos[i].private == true){
            privatePhotos.push(prePhotos[i]);
          }else{
            publicPhotos.push(prePhotos[i]);
          }
        }
        var count = parseInt(document.getElementById("count-obj").innerHTML);

        //Options for sorting the photos
        var current = ["0","sort-new"];

        //Called to populate the gallery with photos according to options
        var display = function(){
          option1 = current[0];
          timeOption = current[1];
          var gallery = '';
          var photos = [];
          //Select the list to sort and view depending on if the user is viewing private photos
          var listToView = viewingPrivate ? privatePhotos : publicPhotos;

          //Means it is a filter query
          if(option1[0] == 1){
            //Get just the filter from the string
            var lookingFor = option1.substring(1);
            //All photos
            if(lookingFor == "none"){
              photos = listToView;
            //Photos with an empty fitler string
            }else if(lookingFor == "No filter"){
              if(listToView[x].filters == ""){
                  photos.push(listToView[x]);
              }
            //Find photos with a filter string that includes filter you want
            }else{
              for(var x = 0; x < listToView.length; x++){
                if(listToView[x].filters.includes(lookingFor)){
                  photos.push(listToView[x]);
                }
              }
            }
          }

          //Means it is a user query
          else if(option1[0] == 2){
            console.log(option1);
            //Get just the user from the string
            var lookingFor = option1.substring(1);
            //Sort through all the photos to see if one with the username is found
            var found = false;
            for(var x = 0; x < listToView.length; x++){
              //Push photos to list if username matches
              console.log(listToView[x].username.toLowerCase(), lookingFor, listToView[x].username.toLowerCase() == lookingFor);
              if(listToView[x].username.toLowerCase() == lookingFor){
                photos.push(listToView[x]);
                found = true;
              }
              //If it's not found, return so it doesn't glitch
            }
            if(!found){
                alert("User not found.");
                photos = listToView;
                return;
              }
          //If no sort was selected/"All photos"
          }else if(option1 == 0){//Otherwise leave the array unfiltered
            photos = listToView;
          }

          //Now that the array is filtered, sort by time added
          if(timeOption == "sort-old"){
            photos.sort((a, b) => (Date.parse(a.date_created) > Date.parse(b.date_created)) ? 1 : -1);
          }
          if(timeOption == "sort-new"){
            photos.sort((a, b) => (Date.parse(a.date_created) < Date.parse(b.date_created)) ? 1 : -1);
          }

          //Add all photos from sorted and filtered array to the gallery-photos div
          for(var i = 0; i < photos.length; i++)
            {
              var path = photos[i].filename;
              gallery += '<a class="containera" href =' + photos[i].filename + ' download>';
              gallery += '<div class="fb-share-button" data-href="https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/09/dog-landing-hero-lg.jpg?bust=1536935129&width=1080" data-layout="button" data-size="large">';
              gallery += '<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=' + photos[i].filename + ';src=sdkpreparse" class="fb-xfbml-parse-ignore">Share';
              gallery += '</a>';
              gallery += '</div>';
              gallery += '<div class = "filterText">';
              gallery += '<img src="';gallery += path;gallery += '" class="rounded mx-auto d-block"/>';  
              gallery += '<div class ="title">' +photos[i].filters +'</div>';
              gallery += '</div>'
              gallery += '</a>';   
            }
          var gal = document.getElementById("gallery-photos").innerHTML = gallery;
        }
      </script>
        <script>
          $(document).ready(function(){ //Make script DOM ready
          //Display with default options on load
            display();
            $('#view-photos-by').change(function() { //jQuery Change Function
                var opval = $(this).val(); //Get value from select element
                if(opval=="photos-by-user"){ //Compare it and if true
                    $('#getUserModal').modal("show"); //Open Modal
                }else if(opval =='photos-by-filter'){
                  $('#getFilterModal').modal("show");
                }else if(opval =='all-photos'){
                  //Set current back to default filtering
                  current[0] = "0";
                  display();
                }else if(opval =='my-photos'){
                  //Set user to currently logged in user
                  $(current[0] = "2" + username);
                  display();
                }
            });
              $('#sort-photos-by').change(function() { //jQuery Change Function
                  var opval = $(this).val(); //Get value from select element
                    current[1] = opval;
                    display();
              });
          
            });
            //Called by the filter modal
            var sortByFilter = function(){
              var f = $("#filter-select").val();
                current[0] = "1" + f;
                display();
            }
            //Called by the user modal
            var sortByUser = function(){
              var u = $("#usernameForm").val();
              current[0] = "2" + u.toLowerCase();
              display();
            }
            //Called by clicking "view private"
            //Toggle options that don't make any sense
            //    if you are viewing private, don't show options to view photos by user or public photos
            var viewPrivate = function(){
              viewingPrivate = !viewingPrivate;
              document.getElementById("viewPrivateToggle").innerHTML = !viewingPrivate ? "My Private Photos" : "Click to view public photos";
              $("#my-photos-select").css("display", !viewingPrivate ? "block" : "none");
              $("#photos-by-user-select").css("display", !viewingPrivate ? "block" : "none");
              display();
            }
        </script>
    </body>
</html>
